<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://www.loyaltyrewards.io/assets/images/gallery/slideshow/slide_reailers.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim %20 </h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://media.licdn.com/dms/image/v2/C4D12AQHRTciQuAnyRw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1520116290181?e=2147483647&v=beta&t=9pktf1VNJ3wlsyE5KX0KUqj6wwiaF44OxGjCGH_BDxc" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim %30</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn btn-primary">Hemen Kullanın</a>
        </div>
    </div>
</div>